:root {
    --happy-yellow: #fbd205;
    --happy-orange: #fe8700;
    --happy-black: #040404;
    --happy-white: #ffffff;
    --success-green: #28a745;
    --danger-red: #dc3545;
    --warning-yellow: #ffc107;
}